
@font-face {
  font-family: 'GalanoGrotesque-Bold';
  src: url('../fonts/GalanoGrotesque-Bold.eot?#iefix') format('embedded-opentype'),  
  		url('../fonts/GalanoGrotesque-Bold.otf')  format('opentype'),
  		url('../fonts/GalanoGrotesque-Bold.woff') format('woff'), 
  		url('../fonts/GalanoGrotesque-Bold.ttf')  format('truetype'), 
  		url('../fonts/GalanoGrotesque-Bold.svg#GalanoGrotesque-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face { 
	font-family: 'GalanoGrotesque-Medium'; 
	src: url('../fonts/GalanoGrotesque-Medium.eot?#iefix') format('embedded-opentype'), 
		url('../fonts/GalanoGrotesque-Medium.otf') format('opentype'), 
		url('../fonts/GalanoGrotesque-Medium.woff') format('woff'), 
		url('../fonts/GalanoGrotesque-Medium.ttf') format('truetype'), 
		url('../fonts/GalanoGrotesque-Medium.svg#GalanoGrotesque-Medium') format('svg'); 
	font-weight: normal; 
	font-style: normal; 
}

@font-face {
  font-family: 'KGLifeisMessy';
  src: url('../fonts/KGLifeisMessy.eot?#iefix') format('embedded-opentype'),  
  		url('../fonts/KGLifeisMessy.woff') format('woff'), 
  		url('../fonts/KGLifeisMessy.ttf')  format('truetype'), 
  		url('../fonts/KGLifeisMessy.svg#KGLifeisMessy') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
	/*
	background: #4893FF;
	*/
	
	background-color: #4688f9; /* works for everything else */
	font-family: 'GalanoGrotesque-Medium'; 
	color: #fff;
}

video {
	width: 100%;
}
.extrabottom {
	margin-bottom: 3em;
}

.fancy-green {
	color: #67E5C1;
	font-family: 'KGLifeisMessy';
	font-size: 3em;
}

.rotate-right {
	-ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(7deg);
}

.rotate-left {
	-ms-transform: rotate(-7deg); /* IE 9 */
    -webkit-transform: rotate(-7deg); /* Chrome, Safari, Opera */
    transform: rotate(-7deg);
}

.wrapper {
	overflow: hidden;
	width: 100%;
}



/****** START: Header *****/

header {
	/*background: url('../img/kartki_desktop.png') no-repeat center bottom;
	background-size: 1200px;*/
	font-family: 'GalanoGrotesque-Bold';
	margin-top: 3em;
	margin-bottom: -1em;
	
}

header video {
	width: 100%;
	margin-top: -12em;
	min-height: 500px;
	z-index: 1;
}

header .container .row {
	padding: 0 5em;
}



h1 {
	font-size: 8em;
	max-width: 800px;
	position: relative;
	z-index: 10;
}

h1 .fancy-green {
	font-size: 1em;
}

#meet-uid8 {
	margin-top: 7em;
}
/****** START: Header *****/


/****** START: Download Button *****/

.download .btn {

	border: 1px solid #fff;
	border-radius: 2em;
	color: #fff;
	font-family: 'GalanoGrotesque-Medium';
}

.download {
	font-size: 1em;
	display: table;
}

.download .btn {
	border-radius: 4em;
	padding-bottom: 0;
	padding-right: 3em;
	padding-top: 0;
}

.download .desc {
	border-right: 1px solid #fff;
	display: table-cell;
	font-size: 2.4em;
	line-height: 2em;
	padding: 0 1em;
	padding-top: 2px;
}

.download .logo {
	display: table-cell;
	margin-top: -1px;
	padding-left: 2.5em;
	vertical-align: middle;
}

/****** END: Download Button *****/


/****** START: #faq *****/
#faq {
	 
	margin-bottom: 5em;
}

#faq .row {
	margin: 3em auto 5em auto;
}

#faq .single-question:nth-of-type(odd) {
	background: url('../img/bg-sketch.png') left center no-repeat;
}

#faq .single-question:nth-of-type(even) {
	background: url('../img/bg-sketch-2.png') right center no-repeat;
}

.answer {
	/*
	display: none;
	max-width: 850px;
	*/
	font-size: 1.75em;
	padding: 0 2em;
	
}

.question {
	color: #67E5C1;
	cursor: pointer;
	font-family: 'GalanoGrotesque-Bold';
    font-size: 3em;
	/* 
	padding: 0 2em;
	*/
}

/****** END: #faq *****/


header .download .btn {
	font-size: 7px;
}

header .download .logo img {
	width: 17px;
	margin-top: -2px;
}


/****** START: #Bin *****/

#bin {
	position: relative;
}

#bin video {
	width: 100%;
}

#bin .poster {
	display: none;
}

#bin .poster img {
	width: 160%; 
	margin-left: -30%;
}

#bin .desc {
	top: -3em;
	/*left: 50%;
	width: 50%;*/
	left: 0;
	margin-left: 0;
	margin-right: 0;
	position: absolute;
	right: 0; 
	width: 100%;
}

#bin .desc .row {
	position: relative;
	margin-top: 5em;
	/*left: -50%;*/
}

#bin .desc .row:nth-of-type(2) {
	margin-top: 25em;

}

#bin .desc .row:nth-of-type(2) div {
	max-width: 390px;
}

#bin .desc .row:nth-of-type(3) {
	
}

#bin .desc .fancy-box:nth-of-type(1) {
	margin-top: 5em;
}

/****** END: #Bin *****/


/****** START: #icons-uid8 *****/

#icons-uid8 {
	background: url('../img/iphone.png') no-repeat left center;
	font-family: 'GalanoGrotesque-Bold';
	font-size: 2em;
	margin-top: 5em;
	position: relative;
	height: 4000px;
	margin-bottom: -470px;
}

#icons-uid8-mobile {
	display: none;
	background: url('../img/iphone.png') no-repeat left center;
	font-family: 'GalanoGrotesque-Bold';
	font-size: 2em;
	margin-top: 5em;
	position: relative;
}

#icons-uid8.animation-end .container {
	position: absolute;
	bottom: 0px;
	left: 50%;
	margin-left: -585px;
}


#icons-uid8 #aniSecondRow {
	position: relative;
	z-index: 1;
}

#icons-uid8 #aniThridRow {
	position: relative;
	z-index: 10;
}


#icons-uid8 .desc, #icons-uid8-mobile .desc
{
	align-items: center;
    display: flex;
    font-size: 1.1em;
    height: 320px;
    justify-content: center;
    text-align: left;
}

#icons-uid8 .icons, #icons-uid8-mobile .icons  {
	font-family: 'GalanoGrotesque-Medium'; 
	font-size: 0.5em;
	margin-bottom: 2em;
	text-align: center;
	text-transform: uppercase;
}

#icons-uid8 h2 {
	text-transform: initial;
}

#icons-uid8 h3 {
	margin-top: 45px;
}

#icons-uid8 .icons p, #icons-uid8-mobile .icons p { 
	margin-top: 1em;
}

#icons-uid8 .arrow, #icons-uid8-mobile .arrow {
	margin-left: -3em;
	position: relative;
	top: 10em;
}

#icons-uid8 .animation {
	position: relative;
	height: 500px;
	animation: heightzero 5s 0s forwards;
}

#icons-uid8 .animation #ani-1st, #icons-uid8 .animation #ani-2nd, #icons-uid8 .animation #ani-3rd {
	left: 0;
	margin-left: 0;
	margin-right: 0;
	position: absolute;
	right: 0; 
	animation: uidanimation 5s forwards, uidhide 0s 4s forwards;
	
}

#icons-uid8-mobile .icon {
	max-width: 280px;
}

#icons-uid8 .animation #ani-1st {
	top: 0;
	z-index: 10;

	-moz-transform: translate3d(0px, 0px, 0px);
  	-webkit-transform: translate3d(0px, 0px, 0px);
  	-o-transform: translate(0px, 0px);
  	-ms-transform: translate(0px, 0px);
  	transform: translate3d(0px, 0px, 0px);
}

#icons-uid8 .animation #ani-2nd {
	top: 350px;
	z-index: 5;
	
}



#icons-uid8 .animation #ani-3rd {
	top: 700px;	
	z-index: 10;
	-moz-transform: translate3d(0px, 0px, 0px);
  	-webkit-transform: translate3d(0px, 0px, 0px);
  	-o-transform: translate(0px, 0px);
  	-ms-transform: translate(0px, 0px);
  	transform: translate3d(0px, 0px, 0px);
}


#icons-uid8 .animation .desc {
	height: 1100px;
	animation-name: uidhide;
	animation-delay: 3s;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}

#icons-uid8 .animation #ani-8 {
	left: 0;
	margin-left: 0;
	margin-right: 0;
	right: 0; 

	opacity: 0;

	margin-top: 195px;
	position: relative;
	z-index: 10;
	/*
	position: absolute;
	top: 200px;
	opacity: 0;
	animation: uidshow 2s 3s forwards, moveUp 1s 2s forwards;
	*/
}


#icons-uid8 .animation #ani-8 img {
 	animation: getsmaller 1s 5s forwards;
 	width: 329px;
}

/****** END: #icons-uid8 *****/


/****** START: # *****/
.animation-logo {
	text-align: center;
}

.animation-logo h2 {
	font-size: 5em;
}

.animation-logo h2 span {
	background: url('../img/logo-uid8-bg.svg') no-repeat;
	text-indent: -9999em;
}

.animation-logo h2 img {
	margin-top: 0.6em;
}

.animation-logo h3 {
	font-size: 2.3em;
	margin-bottom: 3em;
}

#meet-uid8 {
	text-align: center;
	position: relative;
	z-index: 10;
}

#meet-uid8 h2 {
	font-size: 5em;
}

#meet-uid8 h2 span {
	background: url('../img/logo-uid8-bg.svg') no-repeat;
	text-indent: -9999em;
}

#meet-uid8 h2 img {
	margin-top: 0.6em;
}

#meet-uid8 h3 {
	font-size: 2.3em;
	margin: 3em auto;
}

#meet-uid8 .gallery-container {
	max-width: 970px;
	margin: 0 auto;
}

#meet-uid8 .arrow-back,  #meet-uid8 .arrow-next {
	display: none;
}

#meet-uid8 .gallery-feature {
	width: 16%;
	float: left;
	cursor: pointer;
}

#meet-uid8 .gallery-feature .icon {
	min-height: 72px;
}


#meet-uid8 .gallery-feature.active .desc span {
	color: #67E5C1;
	border-bottom: 1px #67E5C1 solid;
	padding-bottom: 2px;
}

#meet-uid8 .gallery-feature .desc div {
    max-width: 140px;
    margin: 0 auto;
}

#meet-uid8 .gallery-feature .desc p {
	display: none;
}

#meet-uid8 .gallery-feature.active .icon path, #meet-uid8 .gallery-feature.active .icon polygon,
#meet-uid8 .gallery-feature.active .icon polyline {
	stroke: #67E5C1;
}

#meet-uid8 .big-desc {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 80px;
	text-align: center;
	margin: 2em auto 0 auto;
	max-width: 970px;
}

#meet-uid8 .big-desc p {
	font-size: 1.5em;
}

#meet-uid8 #pic-pencil {
	z-index: 100;
}

#meet-uid8 .animation img {
	width: 100%;
}

#meet-uid8 .user {
	margin-bottom: 5em;
}

#meet-uid8 .user img {
	max-height: 180px;
}

#meet-uid8 .user div {
	margin: 1em auto;
}

#meet-uid8 .fancy-green {
	/*margin-bottom: 2em;*/
}

#meet-uid8-mobile {
	display: none;
	margin-bottom: -3em;
}

#meet-uid8-mobile h2 img {
	margin-left: 0.2em;
}

#meet-uid8-mobile h3 {
	text-transform: uppercase;
	margin-top: 1em;
}

#meet-uid8-mobile .prolog {
	margin-bottom: 3em;
}

/****** START: #inspirations *****/

#inspirations {
	background: url('../img/bg-blog.png') center center no-repeat;
	background-size: cover;
	min-height: 600px;
	position: relative;
}

#inspirations h2 {
	font-family: 'GalanoGrotesque-Bold';
	font-size: 4em;
	margin-top: 2em;
}

#inspirations input, #inspirations button {
	background: transparent;
	border: 1px solid #fff;
	color: #fff;
	padding: 0.5em 1em;
	width: 100%;
	height: 4em;
}

#inspirations .field {
	position: relative;
}

#inspirations .field label {
	position: absolute;
	top: 1.35em;
	left: 2.2em;
	opacity: 0.5;
}

#inspirations .error {
	color: #fff466;
	display: none;
}

#inspirations form .field input[type="text"]:focus,
#inspirations form .field input[type="email"]:focus {
	border: 1px solid #4c95fb;
}

#inspirations form .field input[type="text"]:focus + label,
#inspirations form .field input[type="email"]:focus + label {
  opacity: 0;
}

#inspirations form .field input[type="text"]:valid,
#inspirations form .field input[type="email"]:valid {
	border: 1px solid #67e5c1;
}

#inspirations form .field input[type="text"]:valid + label,
#inspirations form .field input[type="email"]:valid + label {
  opacity: 0;
}

#inspirations form .field input[type="text"]:invalid:not(:focus):not(:placeholder-shown),
#inspirations form .field input[type="email"]:invalid:not(:focus):not(:placeholder-shown) {
  border: 1px solid #fff466;
}

#inspirations form .field input[type="text"]:invalid:not(:focus):not(:placeholder-shown) + div.error,
#inspirations form .field input[type="email"]:invalid:not(:focus):not(:placeholder-shown) + div.error {
  opacity: 1;
}

#inspirations form .field input[type="text"]:invalid:not(:focus):not(:placeholder-shown) + label,
#inspirations form .field input[type="email"]:invalid:not(:focus):not(:placeholder-shown) + label {
  opacity: 0;
}

#inspirations button {
	border-radius: 2em;
}

#inspirations .arrow img {
	margin-top: 15em;
}

#inspirations .button-draw img {
	margin-top: 9em;
}

#inspirations .newsletter {
	margin-top: 10em;
	margin-bottom: 10em;
}

#inspirations .thanks {
	margin-top: 3.334em;
	margin-bottom: 3.334em;
	display: none;
}

/****** END: #inspirations *****/


.carousel {
            max-height: 803px;
            overflow: hidden;
            position: relative;
          }
          .carousel video {
            width: 74.2%;
            margin-top: 8.7%;
            margin-bottom: 8%;
          }
          .carousel .tablet {
            background: url('../img/bg-ipad.png') no-repeat ;
            background-size: cover;
          }

          .carousel .desktop {
            background: url('../img/macbook2.png') no-repeat ;
            background-size: contain;
          }

          .carousel .desktop video {
            width: 75%;
            margin-top: 4%;
          }

          .carousel .active {
            opacity: 1;
            display: block;

          }

          .carousel > div {
            opacity: 0;
            display: none;
          }

/****** START: #thinkdraw *****/

#thinkdraw {
	position: relative;
}

#thinkdraw #hand {
	position: absolute;
	top: -160px;
	left: 800px;
}

#thinkdraw h2 {
	font-size: 5em;
	font-family: 'GalanoGrotesque-Bold';
	margin-top: 2em;
	text-align: center;
}

#thinkdraw .download {
	font-size: 2em;
	margin: 2em auto 5em auto;
}

#thinkdraw .download .desc {
	font-size: 2.2em;
}

#thinkdraw .download a {
	background-color: #4c95fb;
}

#thinkdraw .download .logo img {
	margin-top: -4px;
}

/****** END: #thinkdraw *****/


/****** START: footer *****/

footer {
	
	align-items: center;
    background-color: #3E64CF;
    display: flex;
    height: 115px;
    justify-content: center;
    position: relative;
    z-index: 10;
}

footer ul li {
	display: inline-block;
	padding: 0 1em;
}

footer  a {
	color: #fff;
	
}

footer .icons {
	margin-top: -4px;
}

/****** END: footer *****/

/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/



/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	
	#icons-uid8 {
    	display: none;
    }

    #icons-uid8-mobile {
    	text-align: center;
    	display: block;
    }

    #icons-uid8-mobile .row {
    	margin: 1.5em auto;
    }

    #icons-uid8-mobile .desc {
    	margin-bottom: 0.5em;
    }

    #meet-uid8-mobile {
    	display: block;
    }

	#thinkdraw #hand {
		left: 690px;
	}

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	#faq .single-question {
		background: none!important;
	}

    
    #inspirations h2, #inspirations .button-draw {
    	text-align: center;
    }

    #inspirations .button-draw img {
		margin-top: 2em;
	}

	#inspirations input, #inspirations button {
		margin-bottom: 2em;
	}

	#inspirations button {
		max-width: 320px;
	}

	#inspirations .col-md-2 {
		text-align: center;
	}

	#icons-uid8-mobile {
		text-align: center;
		margin-top: 0;
	}

	#icons-uid8-mobile .desc {
		height: auto;
		text-align: center;
	}
	
	#meet-uid8 {
		top: 0;
	}
	#meet-uid8-mobile {
		display: block;
	}

	#meet-uid8-mobile .prolog {
		margin: -1em auto 3em auto;
	}

	#thinkdraw #hand {
		left: 430px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 800px) {

	header .container .row {
		padding: 0 2em;
	}

	h1 {
    	font-size: 5em;
    }

     #bin .desc .row:nth-of-type(1) {
    	left: 0;
    	top: -5em;
    }

     #bin .video {
    	display: none;
    }

    #bin .poster {
    	display: block;
    }

    #meet-uid8 .gallery-feature {
    	width: 33%;
    	margin-bottom: 2em;
    }	

    #meet-uid8 .gallery-feature:nth-of-type(7) {
    	width: 100%;
    }
    #meet-uid8 .gallery-feature .desc div {
    	max-width: 100%;
	}

    #uid8 img.icon, #icons-uid8 svg {
    	width: 50%;
    }

    footer .col-xs-12 {
    	text-align: center;
    }

    footer .icons {
    	margin-top: 1em;
    }

    footer ul {
    	padding-left: 0;
    }
}


/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
    header .container .row:nth-of-type(1) {
    	padding-right: 0;
    }

	h1 {
    	font-size: 4.5em;
    }

    header .container .row {
    	padding: 0 1em;
	}

    #bin .desc .row:nth-of-type(1) {
    	left: 0;
    	top: -5em;
    }

    #bin {
    	padding-top: 10em;
    }



    #icons-uid8 img, #icons-uid8 svg {
    	width: 50%;
    }

    #icons-uid8 .icon {
	margin: 1em 0;
	}

	#icons-uid8 p {
		padding-bottom: 2em;
	}
    
    #inspirations h2 {
    	font-size: 3em;
    }

    #meet-uid8 .gallery-container {
    	overflow: hidden;
    	height: 210px;
    	position: relative;
    }

    #meet-uid8 .arrow-back,  #meet-uid8 .arrow-next {
		display: block;
		cursor: pointer;
	}

	#meet-uid8 .arrow-back {
		left: 10px;
		position: absolute;
		top: 50px;
	}

	#meet-uid8 .arrow-next {
		right: 10px;
		position: absolute;
		top: 50px;
	}

    #meet-uid8 .arrow-back img, #meet-uid8 .arrow-next img {
    	width: 50px;
    }

    #meet-uid8 .gallery-feature {
    	cursor: auto;
    	width: 100%;
    	margin-bottom: 4em;
    	position: absolute;
    	top: 210px;
    }

	#meet-uid8 .gallery-feature.active {
    	top: 0px;
    }    

    

    #meet-uid8 .gallery-feature .desc p {
		display: block;
		font-size: 1.1em;
		margin: 0 auto;
		padding-top: 1em;
		width: 70%;
	}

	#meet-uid8 .big-desc p {
		display: none;
	}

    #meet-uid8 .animation .carousel {
    	display: none;
    }

    #meet-uid8 .big-desc {
    	display: none;
    }

    #thinkdraw .download .desc {
    	font-size: 1.6em;
    }

    #thinkdraw #hand {
		left: 320px;
	}


}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
    
	
}

.WindowsChrome {
	background-color: #4688fa;
}

video::-webkit-media-controls-start-playback-button {
  display: none !important;
}


/* video background fix */
@media screen and (-webkit-min-device-pixel-ratio:0) { 
    body
    {
        background: #4c95fb;
    }
}