
@font-face {
  font-family: 'GalanoGrotesque-Bold';
  src: url('../fonts/GalanoGrotesque-Bold.eot?#iefix') format('embedded-opentype'),  
  		url('../fonts/GalanoGrotesque-Bold.otf')  format('opentype'),
  		url('../fonts/GalanoGrotesque-Bold.woff') format('woff'), 
  		url('../fonts/GalanoGrotesque-Bold.ttf')  format('truetype'), 
  		url('../fonts/GalanoGrotesque-Bold.svg#GalanoGrotesque-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face { 
	font-family: 'GalanoGrotesque-Medium'; 
	src: url('../fonts/GalanoGrotesque-Medium.eot?#iefix') format('embedded-opentype'), 
		url('../fonts/GalanoGrotesque-Medium.otf') format('opentype'), 
		url('../fonts/GalanoGrotesque-Medium.woff') format('woff'), 
		url('../fonts/GalanoGrotesque-Medium.ttf') format('truetype'), 
		url('../fonts/GalanoGrotesque-Medium.svg#GalanoGrotesque-Medium') format('svg'); 
	font-weight: normal; 
	font-style: normal; 
}

@font-face {
  font-family: 'KGLifeisMessy';
  src: url('../fonts/KGLifeisMessy.eot?#iefix') format('embedded-opentype'),  
  		url('../fonts/KGLifeisMessy.woff') format('woff'), 
  		url('../fonts/KGLifeisMessy.ttf')  format('truetype'), 
  		url('../fonts/KGLifeisMessy.svg#KGLifeisMessy') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
	/*
	background: #4893FF;
	*/
	
	background-color: #4688f9; /* works for everything else */
	font-family: 'GalanoGrotesque-Medium'; 
	color: #fff;
}

video {
	width: 100%;
}
.extrabottom {
	margin-bottom: 3em;
}

.fancy-green {
	color: #67E5C1;
	font-family: 'KGLifeisMessy';
	font-size: 3em;
}

.rotate-right {
	-ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(7deg);
}

.rotate-left {
	-ms-transform: rotate(-7deg); /* IE 9 */
    -webkit-transform: rotate(-7deg); /* Chrome, Safari, Opera */
    transform: rotate(-7deg);
}

.wrapper {
	overflow: hidden;
	width: 100%;
}

/****** START: Header *****/

header {
	/*background: url('../img/kartki_desktop.png') no-repeat center bottom;
	background-size: 1200px;*/
	font-family: 'GalanoGrotesque-Bold';
	margin-top: 3em;
	margin-bottom: -1em;
	
}

header video {
	width: 100%;
	margin-top: -12em;
	min-height: 500px;
	z-index: 1;
}

header .container .row {
	padding: 0 5em;
}

video::-webkit-media-controls-start-playback-button {
  display: none !important;
}

h1 {
	font-size: 8em;
	max-width: 800px;
	position: relative;
	z-index: 10;
}

h1 .fancy-green {
	font-size: 1em;
}

#meet-uid8 {
	margin-top: 2em;
}
/****** START: Header *****/




/****** START: Download Button *****/

.download .btn {
	background: url('../img/logo-apple.svg') no-repeat 80% 30%;
	border: 1px solid #fff;
	border-radius: 2em;
	color: #fff;
	font-family: 'GalanoGrotesque-Medium';
	padding-left: 2em;
	padding-right: 4em;
}

.download .btn span {
}

.download .btn .logo-apple {
	background: url(../img/logo-apple.svg) no-repeat center center;
	border-left: 1px solid #fff;
	display: block;
	float: right;
	height: 21px;
	width: 18px;
}

/****** END: Download Button *****/





/****** START: #Bin *****/

#bin {
	margin-top: 5em;
	position: relative;
}

#bin video {
	width: 100%;
}

#bin .desc {
	top: -3em;
	/*left: 50%;
	width: 50%;*/
	left: 0;
	margin-left: 0;
	margin-right: 0;
	position: absolute;
	right: 0; 
	width: 100%;
}

#bin .desc .row {
	position: relative;
	margin-top: 5em;
	/*left: -50%;*/
}

#bin .desc .row:nth-of-type(2) {
	margin-top: 25em;

}

#bin .desc .row:nth-of-type(2) div {
	max-width: 390px;
}

#bin .desc .row:nth-of-type(3) {
	
}

#bin .desc .fancy-box:nth-of-type(1) {
	margin-top: 5em;
}

/****** END: #Bin *****/


/****** START: #icons-uid8 *****/

#icons-uid8 {
	background: url('../img/iphone.png') no-repeat left center;
	font-family: 'GalanoGrotesque-Bold';
	font-size: 2em;
	margin-top: 5em;
	position: relative;
}


#icons-uid8 #aniFirstRow {
	position: relative;
	z-index: 10;

	-moz-transform: translate3d(0px, 0px, 0px);
  	-webkit-transform: translate3d(0px, 0px, 0px);
  	-o-transform: translate(0px, 0px);
  	-ms-transform: translate(0px, 0px);
  	transform: translate3d(0px, 0px, 0px);
}

#icons-uid8 #aniFirstRow.in-view {
	-moz-transition: all 700ms ease-out;
	-webkit-transition: all 700ms ease-out;
	-o-transition: all 700ms ease-out;
  	transition: all 700ms ease-out;
  	-moz-transform: translate3d(0px, 165px, 0px);
  	-webkit-transform: translate3d(0px, 165px, 0px);
  	-o-transform: translate(0px, 165px);
  	-ms-transform: translate(0px, 165px);
  	transform: translate3d(0px, 165, 0px);
  	-webkit-backface-visibility: hidden;
  	-moz-backface-visibility: hidden;
  	backface-visibility: hidden;
}

#icons-uid8 #aniSecondRow {
	position: relative;
	z-index: 1;
}

#icons-uid8 #aniThridRow {
	position: relative;
	z-index: 10;
}

#icons-uid8 .desc
{
	align-items: center;
    display: flex;
    font-size: 1.1em;
    height: 320px;
    justify-content: center;
}

#icons-uid8 .icons {
	font-family: 'GalanoGrotesque-Medium'; 
	font-size: 0.5em;
	margin-bottom: 2em;
	text-align: center;
	text-transform: uppercase;
}

#icons-uid8 .icons p { 
	margin-top: 1em;
}

#icons-uid8 .arrow {
	margin-left: -3em;
	position: relative;
	top: 10em;
}

/*
@keyframes uidanimation {
	to { top: 200px; }
}

@keyframes uidshow {
	to { opacity: 1; }
}

@keyframes uidhide {
	to { opacity: 0; display: none; height: 0;}
}

@keyframes getsmaller {
	to { transform: scale(0.2); }
}

@keyframes heightzero {
	to { height: 0; }
}

@keyframes moveUp {
	to { top: 0px; }
}
*/

#icons-uid8 .animation {
	position: relative;
	height: 500px;
	animation: heightzero 5s 0s forwards;
}

#icons-uid8 .animation #ani-1st, #icons-uid8 .animation #ani-2nd, #icons-uid8 .animation #ani-3rd {
	left: 0;
	margin-left: 0;
	margin-right: 0;
	position: absolute;
	right: 0; 
	animation: uidanimation 5s forwards, uidhide 0s 4s forwards;
	
}

#icons-uid8 .animation #ani-1st img, #icons-uid8 .animation #ani-2nd img, 
#icons-uid8 .animation #ani-3rd img, #icons-uid8 .animation #ani-8 img {
	
}

#icons-uid8 .animation #ani-1st {
	top: 0;
	z-index: 10;

	-moz-transform: translate3d(0px, 0px, 0px);
  	-webkit-transform: translate3d(0px, 0px, 0px);
  	-o-transform: translate(0px, 0px);
  	-ms-transform: translate(0px, 0px);
  	transform: translate3d(0px, 0px, 0px);
}

#icons-uid8 .animation #ani-1st.in-view {
 	-moz-transition: all 700ms ease-out;
	-webkit-transition: all 700ms ease-out;
	-o-transition: all 700ms ease-out;
  	transition: all 700ms ease-out;
  	-moz-transform: translate3d(0px, 190px, 0px);
  	-webkit-transform: translate3d(0px, 190px, 0px);
  	-o-transform: translate(0px, 190px);
  	-ms-transform: translate(0px, 190px);
  	transform: translate3d(0px, 190, 0px);
  	-webkit-backface-visibility: hidden;
  	-moz-backface-visibility: hidden;
  	backface-visibility: hidden;
}

#icons-uid8 .animation #ani-2nd {
	top: 350px;
	z-index: 5;
	
}



#icons-uid8 .animation #ani-3rd {
	top: 700px;	
	z-index: 10;
	-moz-transform: translate3d(0px, 0px, 0px);
  	-webkit-transform: translate3d(0px, 0px, 0px);
  	-o-transform: translate(0px, 0px);
  	-ms-transform: translate(0px, 0px);
  	transform: translate3d(0px, 0px, 0px);
}



#icons-uid8 .animation #ani-3rd.in-view {
 	-moz-transition: all 700ms ease-out;
	-webkit-transition: all 700ms ease-out;
	-o-transition: all 700ms ease-out;
  	transition: all 700ms ease-out;
  	-moz-transform: translate3d(0px, -190px, 0px);
  	-webkit-transform: translate3d(0px, -190px, 0px);
  	-o-transform: translate(0px, -190px);
  	-ms-transform: translate(0px, -190px);
  	transform: translate3d(0px, -190, 0px);
  	-webkit-backface-visibility: hidden;
  	-moz-backface-visibility: hidden;
  	backface-visibility: hidden;
}

#icons-uid8 .animation .desc {
	height: 1100px;
	animation-name: uidhide;
	animation-delay: 3s;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}

#icons-uid8 .animation #ani-8 {
	left: 0;
	margin-left: 0;
	margin-right: 0;
	right: 0; 

	opacity: 0;

	margin-top: 195px;
	position: relative;
	z-index: 10;
	/*
	position: absolute;
	top: 200px;
	opacity: 0;
	animation: uidshow 2s 3s forwards, moveUp 1s 2s forwards;
	*/
}


#icons-uid8 .animation #ani-8 img {
 	animation: getsmaller 1s 5s forwards;
 	width: 329px;
}

/****** END: #icons-uid8 *****/


/****** START: #meet-uid8 *****/

#meet-uid8 {
	text-align: center;
}

#meet-uid8 h2 {
	font-size: 5em;
}

#meet-uid8 h2 span {
	background: url('../img/logo-uid8-bg.svg') no-repeat;
	text-indent: -9999em;
}

#meet-uid8 h2 img {
	margin-top: 0.6em;
}

#meet-uid8 h3 {
	font-size: 2.3em;
	margin-bottom: 3em;
}

#meet-uid8 .gallery-container {
	
}

#meet-uid8 .arrow-back,  #meet-uid8 .arrow-next {
	display: none;
}

#meet-uid8 .gallery-feature {
	width: 14%;
	float: left;
	cursor: pointer;
}

#meet-uid8 .gallery-feature .icon {
	min-height: 72px;
}


#meet-uid8 .gallery-feature.active .desc span {
	color: #67E5C1;
	border-bottom: 1px #67E5C1 solid;
	padding-bottom: 2px;
}

#meet-uid8 .gallery-feature .desc p {
	display: none;
}

#meet-uid8 .gallery-feature.active .icon path, #meet-uid8 .gallery-feature.active .icon polygon,
#meet-uid8 .gallery-feature.active .icon polyline {
	stroke: #67E5C1;
}

#meet-uid8 #pic-pencil {
	z-index: 100;
}

#meet-uid8 .animation img {
	width: 100%;
}

#meet-uid8 .user {
	margin-bottom: 5em;
}

#meet-uid8 .user img {
	max-height: 180px;
}

#meet-uid8 .user div {
	margin: 1em auto;
}

#meet-uid8 .fancy-green {
	/*margin-bottom: 2em;*/
}

/****** START: #inspirations *****/

#inspirations {
	background: url('../img/bg-blog.png') center center no-repeat;
	background-size: cover;
	min-height: 600px;
	position: relative;
}

#inspirations h2 {
	font-family: 'GalanoGrotesque-Bold';
	font-size: 4em;
	margin-top: 2em;
}

#inspirations input, #inspirations button {
	background: transparent;
	border: 1px solid #fff;
	color: #fff;
	padding: 0.5em 1em;
	width: 100%;
}

::-webkit-input-placeholder { /* Chrome */
	color: #fff;
	transition: opacity 250ms ease-in-out;
}

:focus::-webkit-input-placeholder {
	opacity: 0.5;
}

:-ms-input-placeholder { /* IE 10+ */
	color: #fff;
	transition: opacity 250ms ease-in-out;
}

:focus:-ms-input-placeholder {
	opacity: 0.5;
}

::-moz-placeholder { /* Firefox 19+ */
	color: #fff;
 	opacity: 1;
 	transition: opacity 250ms ease-in-out;
}

:focus::-moz-placeholder {
	opacity: 0.5;
}

:-moz-placeholder { /* Firefox 4 - 18 */
	color: #fff;
	opacity: 1;
	transition: opacity 250ms ease-in-out;
}

:focus:-moz-placeholder {
	opacity: 0.5;
}

#inspirations button {
	border-radius: 2em;
}

#inspirations .arrow img {
	margin-top: 15em;
}

#inspirations .button-draw img {
	margin-top: 9em;
}

#inspirations .newsletter {
	margin-top: 10em;
	margin-bottom: 10em;
}

/****** END: #inspirations *****/


#iPad {
	max-height: 803px;
	max-width: 1096px;
	overflow: hidden;
	position: relative;
}

#iPad .cover {
	position: relative;
	z-index: 100;
}

#iPad .screens {
	position: absolute;
	top: 9%;
	left: 11%;
	width: 78%;
	height: 80%;
	overflow: hidden;
	z-index: 1;
}

#iPad .screens > div {
	position: absolute;
	top: 10px;
	left: 10px;
	right: 10px;
	bottom: 10px;
	z-index: 1;
}

/****** START: #video *****/

#video h2 {
	color: #3E64CF;
	font-family: 'KGLifeisMessy';
	font-size: 4em;
	margin-top: 2em;
	text-align: center;
}

#video .download {
	font-size: 2em;
}

/****** END: #video *****/


/****** START: footer *****/

footer {
	
	align-items: center;
    background-color: #3E64CF;
    display: flex;
    height: 100px;
    justify-content: center;
}

footer ul li {
	display: inline-block;
	padding: 0 1em;
}

footer  a {
	color: #fff;
	
}

/****** END: footer *****/

/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/

/* video background fix */
@media screen and (-webkit-min-device-pixel-ratio:0) { 
    body
    {
        background: #4c95fb;
    }
}

/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {


}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

    #icons-uid8 {
    	text-align: center;
    }

    #icons-uid8 .desc {
    	height: auto;
    }

    #inspirations h2, #inspirations .button-draw {
    	text-align: center;
    }

    #inspirations .button-draw img {
		margin-top: 2em;
	}

	#inspirations input, #inspirations button {
		margin-bottom: 2em;
	}

	#inspirations button {
		max-width: 320px;
	}

	#inspirations .col-md-2 {
		text-align: center;
	}

	#icons-uid8 .animation .desc {
		height: 100px;
	}

}

/* Small Devices, Tablets */
@media only screen and (max-width : 800px) {
	/*
	body {
		background-color: #4688f9;
	}
*/	

	header .container .row {
		padding: 0 2em;
	}

	h1 {
    	font-size: 5em;
    }

     #bin .desc .row:nth-of-type(1) {
    	left: 0;
    	top: -5em;
    }


    #meet-uid8 .gallery-feature {
    	width: 33%;
    	margin-bottom: 2em;
    }	

    #meet-uid8 .gallery-feature:nth-of-type(7) {
    	width: 100%;
    }

    #icons-uid8 img.icon, #icons-uid8 svg {
    	width: 50%;
    }

    #ani-8 svg {
    	fill: #4688f9;
    }
}


/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
    
	h1 {
    	font-size: 4.5em;
    }


    #bin .desc .row:nth-of-type(1) {
    	left: 0;
    	top: -5em;
    }

    #bin {
    	padding-top: 10em;
    }

    #icons-uid8 img, #icons-uid8 svg {
    	width: 50%;
    }

    #icons-uid8 .icon {
	margin: 1em 0;
	}

	#icons-uid8 p {
		padding-bottom: 2em;
	}
    
    #inspirations h2 {
    	font-size: 3em;
    }



    #meet-uid8 .gallery-container {
    	overflow: hidden;
    	height: 180px;
    	position: relative;
    }

    #meet-uid8 .arrow-back,  #meet-uid8 .arrow-next {
		display: block;
		cursor: pointer;
	}

	#meet-uid8 .arrow-back {
		left: 10px;
		position: absolute;
		top: 50px;
	}

	#meet-uid8 .arrow-next {
		right: 10px;
		position: absolute;
		top: 50px;
	}

    #meet-uid8 .arrow-back img, #meet-uid8 .arrow-next img {
    	width: 50px;
    }

    #meet-uid8 .gallery-feature {
    	cursor: auto;
    	width: 100%;
    	margin-bottom: 4em;
    	position: absolute;
    	top: 200px;
    }

	#meet-uid8 .gallery-feature.active {
    	top: 0px;
    }    

    #meet-uid8 .gallery-feature .desc p {
		display: block;
		margin: 0 auto;
		padding-top: 1em;
		width: 70%;
	}

    #meet-uid8 .animation #iPad {
    	display: none;
    }

}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
    

}
